<div class="nested-fields">
  <%= has_many_child_field.label :name, 'Has many child name' %>
  <%= has_many_child_field.text_field :name %>

  <%= link_to_remove_association 'remove has many child', has_many_child_field  %>
</div>
