<h1>Editing Feature Active Record Parent</h1>

<%= render 'form', feature_active_record_parent: @feature_active_record_parent %>

<%= link_to 'Show', @feature_active_record_parent %> |
<%= link_to 'Back', feature_active_record_parents_path %>
