<h1>New Feature Carrier Wave User</h1>

<div style="float: left;">
  <h2>Not via confirm</h2>
  <%= render 'form', feature_carrier_wave_user: @feature_carrier_wave_user %>
</div>

<div style="float: left;">
  <h2>Via confirm</h2>
  <%= render 'form', feature_carrier_wave_user: @feature_carrier_wave_user, post_to: 'confirm' %>
</div>

<div style="clear: both;">
  <%= link_to 'Back', feature_carrier_wave_users_path %>
</div>

